@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
* { 
  margin:0 auto; padding:0;
  box-sizing:border-box;
}

html, body {
  height:100%;
  overflow-x:hidden !important;
}

#Loader {
  width:100%;
  height:100%;
  position:absolute;
  background:#000;
  z-index:999 !important;
}
.container-load {
  width:200px;
  height:200px;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  animation:colorize 2s ease infinite; 
  overflow:hidden;
}

@keyframes colorize {
  20% { filter:hue-rotate(72deg); }
  40% { filter:hue-rotate(144deg); }
  60% { filter:hue-rotate(216deg); }
  80% { filter:hue-rotate(288deg); }
  100% { filter:hue-rotate(360deg); }
}

.loader {
  width:calc(100% - 12px);
  height:calc(100% - 12px);
  position:absolute;
  border:5px solid #000;
  border-top:5px solid #09f;
  border-radius:50%;
  animation-fill-mode: forwards;
  animation:rotate 2s 0.5s linear infinite;
}
@keyframes rotate {
  100% { transform: rotate(360deg); }
}


.container {
  width:100%;
  height:100%;
  display:none;
}

.hero-img {
  width:100%;
  height:100%;
  background:url('https://qzprod.files.wordpress.com/2017/01/programmers-data-rescue-climate-data-e1484953294679.jpg?quality=80&strip=all&w=1600') no-repeat;
  background-size:cover;
  background-position:center;
  position:relative;
  background-attachment:fixed;
}

.hero-img:before {
  position:absolute;
  content:'';
  width:100%;
  height:100%;
  background:#000;
  top:0;
  left:0;
  opacity:0.7;
}

.caption {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding:20px;
  background:#fff3;
  border-radius:5px;
  animation:showAnim 0.4s ease;
  transition:all 0.4s ease;
}
@keyframes showAnim {
  0% { transform:translate(-50%,-40%) scale(0.8); }
  50% { transform:translate(-50%,-50%) scale(1.1); }
  100% { transform:translate(-50%,-50%) scale(1); }
}

.logo {
  width:120px;
  height:120%;
  border-radius:100%;
  display:block;
  margin: 0 auto;
  margin-bottom:20px;
}

.logo-name {
  color:#fff;
  text-align:center;
  font-family: 'Berkshire Swash', cursive;
}

.link-main {
  padding:10px 14px;
  background-color:#09f;
  color:#fff;
  font-size:16px;
  font-family:segoe ui;
  text-decoration:none;
  text-align:center;
  display:block;
  margin-top:20px;
  border-radius:5px;
  text-transform:uppercase;
  font-weight:lighter;
  letter-spacing:1.2px;
  transition:all 0.4s ease;
}

.link-main:hover {
  background:#fff;
  color:#09f;
}

.menu-icon {
  width:50px;
  height:50px;
  position:absolute;
  bottom:50px;
  right:60px;
  background:#fff;
  border-radius:50%;
  padding:13px 12px;
  cursor:pointer;
  animation:scaleUp 0.5s ease;
  z-index:2;
  overflow:hidden;
  border:4px solid #f5092e;
}

@keyframes scaleUp {
  0% { transform:scale(0); opacity:0.3;}
  90% { transform:scale(1.05); }
}
.icon-bar {
  display:block;
  background:#f5092e;
  height:2px;
  position:relative;
  margin-bottom:5px;
}
.menu-icon:hover .icon-bar {
  background:#fff;
}
.menu-icon:hover {
  background:#000;
  transition:all 0.4s ease;
}

.menu {
  width:150px;
  hegiht:100%;
  background:#0009;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  display:none;
}
.showMenu {
  transition:all 0.5s ease;
  display:block;
  animation:slideMenu 0.5s ease;
}
@keyframes slideMenu {
  0%{ transform:translateX(200px); }
}

.side-menu {
  position:relative;
  list-style-type:none;
  top:50px;
}

.side-menu li {
  padding:15px 10px; 
  font-size:20px;
  text-align:center;
}

.side-menu li a { 
  text-decoration:none;
  color:#fff;
  font-family:segoe ui;
}

.side-menu li:hover {
  background:#fff3;
  cursor:pointer;
}

.fa {
  display:block;
  margin-bottom:10px;
  font-size:45px;
  color:#09f;
}

.icon-bar-anim:nth-child(1) {
  transform:rotateZ(45deg);
  transform-origin:center;
  transition:all 0.5s ease;
}
.icon-bar-anim:nth-child(2) {
  transform:translateX(50px);
  animation:rightSlide 0.6s ease;
}

@keyframes rightSlide {
  0% { transform:translateX(0px); }
  100% { transform:translateX(50px); }
}

.icon-bar-anim:nth-child(3) {
  transform:rotateZ(-45deg);
  transform-origin:center;
  transition:all 0.5s ease;
}

.icon-bar-anim-off:nth-child(1) {
  transform:rotateZ(0deg);
  transform-origin:center;
  transition:all 0.5s ease;
}
.icon-bar-anim-off:nth-child(2) {
  transform:translateX(0px);
  animation:leftSlide 0.3s ease;
}

@keyframes leftSlide {
  0% { transform:translateX(50px); }
  100% { transform:translateX(0px); }
}

.icon-bar-anim-off:nth-child(3) {
  transform:rotateZ(0deg);
  transform-origin:center;
  transition:all 0.5s ease;
}

#videos {
  width:95%;
  padding:50px;
  padding-top:20px;
  margin:0 auto;
}

.video {
  width:270px;
  height:170px;
  float:left;
  margin:10px;
  border:1px solid #eee;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}
.video a {
  text-decoration:none;
}
.video .play-btn {
  width:50px;
  height:50px;
  text-align:center;
  font-size:30px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin-top:-20px;
  text-indent:6px;
  padding-top:8px;
  box-shadow:1px 2px 3px #777;
  border-radius:50%;
  background:#fff;
  border:2px solid;
  color:#000;
}
.video:hover .play-btn {
  opacity:0.5;
}


.video .v-img {
  width:100%;
  height:130px;
  display:block;
}
.video .v-title {
  color:#095cd8;
  background:#caf68c4d;
  padding:8px;
  padding-top:4px;
  max-width:100%;
  font-size:20px;
  font-family:segoe ui;
  font-weight:lighter;
  
}